<mat-drawer-container class="profil-container">
  <mat-drawer mode="side" class="profil-container-seite" opened>
    <ng-container *ngIf="privat">
      <button mat-button color="primary" (click)="auswahl(seiten.vorstellungsprofil)">Vorstellungsprofil</button>
      <hr>
      <mat-expansion-panel class="mat-elevation-z0" togglePosition="before">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Bewerbungen
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-button style="color: black" (click)="auswahl(seiten.bewerbungen_gesamt)">Gesamt</button>
        <button mat-button style="color: red" (click)="auswahl(seiten.bewerbungen_absagen)">Absagen</button>
        <button mat-button style="color: green" (click)="auswahl(seiten.bewerbungen_zusagen)">Zusagen</button>
      </mat-expansion-panel>
      <div *ngIf="false">
        <hr>
        <button mat-button color="primary" (click)="auswahl(seiten.chats)">Chats</button>
        <hr>
        <button mat-button color="primary" (click)="auswahl(seiten.meldungen)">Meldungen</button>
      </div>
    </ng-container>
    <ng-container *ngIf="!privat">
      <button mat-button color="primary" (click)="auswahl(seiten.vorstellungsprofil)">Vorstellungsprofil</button>
      <hr>
      <button mat-button color="primary" (click)="auswahl(seiten.anzeigen)">Anzeigen</button>
      <hr>
      <mat-expansion-panel class="mat-elevation-z0" togglePosition="before">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Bewerbungen
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-button style="color: black" (click)="auswahl(seiten.bewerbungen_unternehmen_anfragen)">Anfragen</button>
        <button mat-button style="color: orange" (click)="auswahl(seiten.bewerbungen_unternehmen_auswahl)">Auswahl</button>
        <button mat-button style="color: green" (click)="auswahl(seiten.bewerbungen_unternehmen_zusagen)">Zusagen</button>
        <button mat-button style="color: red" (click)="auswahl(seiten.bewerbungen_unternehmen_absagen)">Absagen</button>
      </mat-expansion-panel>
    </ng-container>
    <div class="bottom">
      <button mat-button color="primary" (click)="auswahl(seiten.account_management)">
        <mat-icon>settings</mat-icon>
        Account Einstellungen
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content class="profil-container-content">
    <div *ngIf="profilContent.selected === seiten.vorstellungsprofil">
      <app-profil-privat *ngIf="privat"></app-profil-privat>
      <app-profil-unternehmen *ngIf="!privat"></app-profil-unternehmen>
    </div>
    <div *ngIf="profilContent.selected === seiten.account_management">
      <app-account-management></app-account-management>
    </div>
    <div *ngIf="profilContent.selected === seiten.bewerbungen_gesamt">
      <app-profil-anzeigen></app-profil-anzeigen>
    </div>
    <div *ngIf="profilContent.selected === seiten.bewerbungen_zusagen">

    </div>
    <div *ngIf="profilContent.selected === seiten.bewerbungen_absagen">

    </div>
    <div *ngIf="profilContent.selected === seiten.anzeigen">
      <app-profil-anzeigen></app-profil-anzeigen>
    </div>
    <div *ngIf="profilContent.selected === seiten.anzeige_erstellen">
      <app-anzeige-erstellen></app-anzeige-erstellen>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
