@import "src/styles";

.profil-container {
  height: calc(100% - 3rem);
}

.profil-container-seite {
  padding-top: 0.5rem;
  min-width: 200px;
  button {
    font-weight: 500;
    width: 100%;
    padding-top: 4px;
  }

  button:hover {
    background-color: whitesmoke;
  }

  hr {
    border-top: 1px solid mat-color($primary);
    margin: 0;
  }

  mat-panel-title {
    font-weight: 500;
    color: mat-color($primary);
  }


  mat-expansion-panel-header:hover {
    background-color: whitesmoke;
  }

}

.bottom {
  position: absolute;
  bottom: 0;
}
