mat-form-field{
  width: 60%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%); //Verschiebt ein Element horizontal und vertikal um einen bestimmten Wert. transform: translate(tx[, ty])
}

#body{
  width: 90%;
  height: auto;
  position: absolute;
  top: 25%;
  left: 50%;
  padding: 5px;
  transform: translate(-50%); //Verschiebt ein Element horizontal und vertikal um einen bestimmten Wert. transform: translate(tx[, ty])
  border: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: #673ab7;
}

mat-card{
  margin-top: 15px;
  margin-bottom: 15px;
}

#btnOpen{
  position: absolute;
  right: 3%;
}
