<form [formGroup]="searchForm" (submit)="onSubmit()">
  <mat-form-field appearance="outline">
    <input matInput placeholder="Geben Sie ein, was Sie suchen möchten" formControlName="search">
    <button mat-icon-button matSuffix type="submit">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</form>


<div id="body">
  <button mat-stroked-button color="basic" *ngIf="!contentService.isProfilePrivate">Anzeige erstellen</button>

  <ng-container *ngFor="let a of anzeige">
    <mat-card><img mat-card-avatar src="../../../../favicon.ico">{{ a.titel }}<button mat-stroked-button color="basic" id="btnOpen" (click)="anzeigen(a._id)">Öffnen</button></mat-card>
  </ng-container>

<!--  <mat-paginator [length]="100"-->
<!--                 [pageSize]="10"-->
<!--                 [pageSizeOptions]="[5, 10, 25, 100]">-->
<!--  </mat-paginator>-->
</div>


