@import "src/styles";

.registr-frame{
  width: 30%;
  height: auto;
  position: absolute;
  top: 20%;
  left: 50%;
  padding: 15px;
  transform: translate(-50%); //Verschiebt ein Element horizontal und vertikal um einen bestimmten Wert. transform: translate(tx[, ty])
  border: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: #673ab7;
}

mat-button-toggle-group{
  position: static;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-width: 2px;
  border-color: #673ab7;

}

mat-button-toggle{
  width: 100%;
}

.buttons{
  margin-top: -15px;
  margin-right: -15px;
  margin-left: -15px;
  padding-bottom: 15px;
}
