<div class="registr-frame">
  <div class="buttons">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="login" checked>Login</mat-button-toggle>
      <mat-button-toggle value="registration" #registration>Registration</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <app-login *ngIf="!registration.checked"></app-login>
  <app-registration *ngIf="registration.checked"></app-registration>
</div>
