.pass {
  width: 60%;
  margin: 1rem auto;

  button {
    margin-right: 1rem;
  }
}

.mail {
  width: 60%;
  margin: 1rem auto;

  button {
    margin-right: 1rem;
  }
}

.sessions {
  width: 60%;
  margin: 1rem auto;

  mat-card {
    margin: 1rem auto;
    display: flex;

    .logout {
      margin: auto 0 auto auto;

      mat-icon {
        font-size: 36px;
      }
    }
  }
}

.passResult {
  height: auto;
  margin-top: 0.5rem;
  border-radius: 4px;
  padding: 0.5rem;
}

.passSuccess {
  background-color: #4bb138;
}

.passFail {
  background-color: red;
}

.passText {
  text-align: center;
  font-weight: 500;
  margin: 0.5rem auto;
}
