<div class="pass">
  <mat-card>
    <form [formGroup]="passForm" *ngIf="passForm" (submit)="speichernPass()">
      <mat-form-field appearance="outline">
        <mat-label>Altes Password</mat-label>
        <input type="password" matInput formControlName="altPass">
      </mat-form-field>

      <br>
      <mat-form-field appearance="outline">
        <mat-label>Neues Password</mat-label>
        <input type="password" matInput formControlName="neuPass" #neuPass>
      </mat-form-field>

      <br>
      <mat-form-field appearance="outline">
        <mat-label>Neues Password Wiederholen</mat-label>
        <input type="password" matInput [pattern]="neuPass.value.toString()" formControlName="neuPassWdh">
      </mat-form-field>

      <br>
      <button type="submit" mat-flat-button color="primary" [disabled]="passForm.invalid">Speichern</button>
      <button type="reset" mat-flat-button color="accent">Abbrechen</button>
    </form>
    <div [ngClass]="(passResult)?'passResult passSuccess':'passResult passFail'" *ngIf="passResultShow">
      <div class="passText">
        <ng-container *ngIf="passResult">
          Das neue Passwort wurde Erfolgreich gespeichert!
        </ng-container>
        <ng-container *ngIf="!passResult">
          Das alte Passwort ist entweder Falsch, oder identisch mit dem neuen Passwort!
        </ng-container>
      </div>
    </div>
  </mat-card>
</div>
<div class="mail">
  <mat-card>
    <form [formGroup]="mailForm" *ngIf="mailForm" (submit)="speichernMail()">
      <mat-form-field appearance="outline">
        <mat-label>Neue E-Mail Adresse</mat-label>
        <input matInput formControlName="newMail">
      </mat-form-field>

      <br>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="pass">
      </mat-form-field>

      <br>
      <button type="submit" mat-flat-button color="primary" [disabled]="mailForm.invalid">Speichern</button>
      <button type="reset" mat-flat-button color="accent">Abbrechen</button>
    </form>
  </mat-card>
</div>
<div class="sessions">
  <ng-container *ngFor="let s of sessions">
    <mat-card>
      <div class="content">
        <p>IP: {{ s.ip }}</p>
        <p>Letzte Aktivität: {{ s.last_active }}</p>
      </div>
      <div class="logout">
        <button mat-icon-button type="button" (click)="logoutSession(s._id)"><mat-icon>delete</mat-icon></button>
      </div>
    </mat-card>
  </ng-container>
</div>
