<div id="body">
  <form [formGroup]="anzeigeForm" (submit)="onSubmit()">
  <mat-form-field appearance="outline" id="titel">
    <mat-label>Titel</mat-label>
    <input matInput formControlName="titel">
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline" id="info">
    <mat-label>Info</mat-label>
    <textarea matInput formControlName="info"></textarea>
  </mat-form-field>
  <button mat-flat-button color="accent" id="btnAbbrechnen" type="button"><mat-icon>close</mat-icon>Abbrechnen</button>
  <button mat-flat-button color="primary" id="btnErstellen" type="submit">Erstellen</button>
  </form>
</div>
