#body{
  width: 90%;
  height: auto;
  position: absolute;
  top: 10%;
  left: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  transform: translate(-50%); //Verschiebt ein Element horizontal und vertikal um einen bestimmten Wert. transform: translate(tx[, ty])
  border: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: #673ab7;
}

#titel{
  width: 95%;
  left: 50%;
  transform: translate(-50%); //Verschiebt ein Element horizontal und vertikal um einen bestimmten Wert. transform: translate(tx[, ty])
}

#info{
  width: 95%;
  left: 50%;
  transform: translate(-50%); //Verschiebt ein Element horizontal und vertikal um einen bestimmten Wert. transform: translate(tx[, ty])
}

textarea{
  min-height: 400px;
}
button{
  min-width: 10%;
}

#btnAbbrechnen{
  transform: translate(+50%); //Verschiebt ein Element horizontal und vertikal um einen bestimmten Wert. transform: translate(tx[, ty])
}

#btnErstellen{
  position: absolute;
  right: 5%;
}
