<div id="body">
  <ng-container *ngIf="istUnternehmen">
    <p>Meine Anzeigen</p>
    <button mat-stroked-button color="basic" (click)="erstellen()">Anzeige erstellen</button>
    <ng-container >
      <!--    <mat-card><img mat-card-avatar src="../../../../favicon.ico">Simple card<button mat-stroked-button color="basic" id="btnBearbeiten">Bearbeiten</button></mat-card>-->
      <h1>IN ARBEIT</h1>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="contentService.isProfilePrivate">
    <ng-container *ngFor="let b of bewerbungen">
      <mat-card>{{ b.titel }}</mat-card>
    </ng-container>
  </ng-container>
<!--  <mat-paginator [length]="100"-->
<!--                 [pageSize]="10"-->
<!--                 [pageSizeOptions]="[5, 10, 25, 100]">-->
<!--  </mat-paginator>-->
</div>

