#body{
  width: 90%;
  height: auto;
  position: absolute;
  top: 10%;
  left: 50%;
  padding: 5px;
  transform: translate(-50%); //Verschiebt ein Element horizontal und vertikal um einen bestimmten Wert. transform: translate(tx[, ty])
  border: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: #673ab7;
}

#anschreiben{
  width: 95%;
  left: 50%;
  transform: translate(-50%); //Verschiebt ein Element horizontal und vertikal um einen bestimmten Wert. transform: translate(tx[, ty])
  textarea{
    min-height: 200px;
  }
}

button{
  min-width: 10%;

}

#btnZuruck{
  transform: translate(+50%); //Verschiebt ein Element horizontal und vertikal um einen bestimmten Wert. transform: translate(tx[, ty])
}

#btnBewerben{
  position: absolute;
  right: 5%;
}

