<div id="body">
  <p><b>Hinweis:</b> Die Daten aus Ihrem Profil werden an diesen Arbeitgeber gesendet und können während der Bearbeitung Ihres Antrags eingesehen werden.</p>
  <br>
  <form [formGroup]="bewerbungForm" (submit)="onSubmit()">
  <mat-form-field appearance="outline" id="anschreiben">
    <mat-label>Möchten Sie etwas dazu schreiben?</mat-label>
    <textarea matInput formControlName="anschreiben" minlength="1"></textarea>
  </mat-form-field>

  <button mat-flat-button color="accent" id="btnZuruck">
    <mat-icon>arrow_back_ios</mat-icon>
    Zurück
  </button>
  <button mat-flat-button color="primary" id="btnBewerben">Bewerbung abschicken</button>
  </form>
</div>
