<img id="logo" src="../../../assets/img/Jobby.png">
<div id="info">
  <b>Jobby</b> - hilft Ihnen die Praxis nach Ihren wünschen zu finden!
</div>
<button mat-flat-button color="primary" (click)="anzeigen()">Zu den Anzeigen</button>
