button{
  width: 25%;
  height: 8%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%); //Verschiebt ein Element horizontal und vertikal um einen bestimmten Wert. transform: translate(tx[, ty])
}

#logo{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%); //Verschiebt ein Element horizontal und vertikal um einen bestimmten Wert. transform: translate(tx[, ty])
}

#info{
  font-size: x-large;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%); //Verschiebt ein Element horizontal und vertikal um einen bestimmten Wert. transform: translate(tx[, ty])
}
