#body{
  width: 90%;
  height: auto;
  position: absolute;
  top: 10%;
  left: 50%;
  padding: 5px;
  transform: translate(-50%); //Verschiebt ein Element horizontal und vertikal um einen bestimmten Wert. transform: translate(tx[, ty])
  border: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: #673ab7;
}

#titel{
  width: 95%;
  left: 50%;
  transform: translate(-50%); //Verschiebt ein Element horizontal und vertikal um einen bestimmten Wert. transform: translate(tx[, ty])
}

mat-form-field{
  input, textarea{
    color: black;
  }
}

#info{
  width: 95%;
  left: 50%;
  transform: translate(-50%); //Verschiebt ein Element horizontal und vertikal um einen bestimmten Wert. transform: translate(tx[, ty])
}

button{
  min-width: 10%;

}

#btnZuruck{
  transform: translate(+50%); //Verschiebt ein Element horizontal und vertikal um einen bestimmten Wert. transform: translate(tx[, ty])
}

#btnBewerben{
  left: 80%;
  transform: translate(-50%); //Verschiebt ein Element horizontal und vertikal um einen bestimmten Wert. transform: translate(tx[, ty])
}

