<app-header></app-header>
<div id="body">
  <mat-form-field appearance="outline" id="titel">
    <input matInput disabled [value]="titel">
  </mat-form-field>

  <mat-form-field appearance="outline" id="info">
    <textarea matInput disabled [value]="content"></textarea>
  </mat-form-field>

  <button mat-flat-button color="accent" id="btnZuruck" (click)="zurueck()">
    <mat-icon>arrow_back_ios</mat-icon>
    Zurück
  </button>
  <button mat-flat-button color="primary" id="btnBewerben" (click)="bewerben()" *ngIf="contentService.isProfilePrivate">Bewerben</button>
</div>
