@import "src/styles";

.spacer {
  margin: auto;
}

.nav-btn {
  transition-duration: 0.2s;
}

.nav-btn:hover {
  background-color: mat-color($primary, 400);
}

.header-title {
  margin-right: 1rem;
  margin-top: 1rem;

  button {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}

.header-bg {
  max-height: 3rem;
}
