<mat-toolbar color="primary" class="header-bg">
  <div class="mat-title header-title">
    <button mat-flat-button color="primary" (click)="setContent(cnt.HOME)">Jobby</button>
  </div>
  <button mat-flat-button color="primary" class="nav-btn" (click)="setContent(cnt.HOME)">Home</button>
  <button mat-flat-button color="primary" class="nav-btn" (click)="setContent(cnt.ANZEIGEN)">Anzeigen</button>
  <button mat-flat-button color="primary" class="nav-btn" (click)="setContent(cnt.KARTE)">Karte</button>
  <button mat-flat-button color="primary" class="nav-btn" *ngIf="eingeloggt" (click)="setContent(cnt.PROFIL)">Profil</button>
<!--  <button mat-flat-button color="primary" class="nav-btn" *ngIf="eingeloggt" (click)="setContent(cnt.VORSCHLAEGE)">Vorschläge</button>-->
  <div class="spacer"></div>
  <button mat-icon-button class="nav-btn">
    <mat-icon [matBadge]="benachrichtigungen" matBadgeColor="warn" matBadgePosition="before" [matBadgeHidden]="!eingeloggt || benachrichtigungen == 0">notifications</mat-icon>
  </button>
  <button mat-flat-button color="primary" class="nav-btn" *ngIf="!eingeloggt" (click)="setContent(cnt.LOGIN)">Anmelden/Registrieren</button>
  <button mat-flat-button color="primary" class="nav-btn" *ngIf="eingeloggt" (click)="logout()">{{ name }}</button>
</mat-toolbar>
