<div class="login-frame">

  <form [formGroup]="loginForm" (submit)="onSubmit()">

    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="musterman@mail.com" formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Passwort</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwort" >
    </mat-form-field>

    <button mat-flat-button color="primary" class="button_row" type="submit"> Anmelden </button>

  </form>
</div>
