<div class="title">
  <div class="text"><h2>Vorstellungsprofil</h2></div>
  <button type="button" mat-mini-fab color="primary" (click)="toggleEdit()" class="mat-elevation-z0 edit">
    <mat-icon>edit</mat-icon>
  </button>
</div>
<form [formGroup]="profilForm" *ngIf="profilForm" (submit)="speichern()" (reset)="reset()" class="formular">

  <div class="top">
    <div class="links">
      <p>Persönliche Angaben:</p>
      <div class="name">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
      </div>

      <div class="alter">
        <mat-form-field appearance="outline">
          <mat-label>Geb. Datum</mat-label>
          <input matInput formControlName="geb" [matDatepicker]="gebDate" (dateChange)="rechnenAlter()">
          <mat-datepicker-toggle matSuffix [for]="gebDate"></mat-datepicker-toggle>
          <mat-datepicker #gebDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Alter</mat-label>
          <input matInput formControlName="alter">
        </mat-form-field>
      </div>
    </div>
    <div class="rechts">
      <img [src]="bild">
      <input type="file" *ngIf="edit" class="upload" (change)="uploadImage($event)" accept="image/jpeg, image/png">
    </div>
  </div>

  <br>
  <div class="adresse" formGroupName="adresse">
    <p>Adresse:</p>

    <mat-form-field appearance="outline">
      <mat-label>Straße</mat-label>
      <input matInput formControlName="strasse">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nr.</mat-label>
      <input matInput formControlName="nummer">
    </mat-form-field>

    <br>
    <mat-form-field appearance="outline">
      <mat-label>PLZ</mat-label>
      <input matInput formControlName="plz">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ort</mat-label>
      <input matInput formControlName="ort">
    </mat-form-field>

    <br>
    <mat-form-field appearance="outline">
      <mat-label>Land</mat-label>
      <input matInput formControlName="land">
    </mat-form-field>
  </div>

  <br>
  <div class="kontakt">
    <p>Kontaktangaben:</p>
    <ng-container formArrayName="kontakt">
      <div *ngFor="let k of profilKontaktArray.controls; index as i">
        <ng-container [formGroupName]="i">

          <mat-form-field appearance="outline" class="kontakt-angeben">
            <mat-label>Kontaktmöglichkeit</mat-label>
            <mat-select formControlName="kontaktmoeglichkeit">
              <mat-option *ngFor="let kon of kontaktList" [value]="kon">{{ kon }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="kontakt-angeben">
            <input matInput formControlName="angabe">
          </mat-form-field>

          <div class="delete" *ngIf="edit">
            <button type="button" mat-mini-fab class="mat-elevation-z0" color="warn" (click)="deleteKontaktKnopf(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

        </ng-container>
      </div>

      <button type="button" mat-mini-fab class="mat-elevation-z0" color="primary" (click)="addKontaktKnopf()" *ngIf="edit">
        <mat-icon>add</mat-icon>
      </button>
    </ng-container>
  </div>

  <br>
  <div class="bildung">
    <p>Bildung:</p>
    <ng-container formArrayName="bildung">
      <div *ngFor="let b of profilBildungArray.controls; index as i">
        <ng-container [formGroupName]="i">

          <mat-form-field appearance="outline">
            <mat-label>Schule</mat-label>
            <input matInput formControlName="schule">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Von</mat-label>
            <input matInput [matDatepicker]="vonBildung" formControlName="von">
            <mat-datepicker-toggle matSuffix [for]="vonBildung"></mat-datepicker-toggle>
            <mat-datepicker #vonBildung></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Bis</mat-label>
            <input matInput [matDatepicker]="bisBildung" formControlName="bis">
            <mat-datepicker-toggle matSuffix [for]="bisBildung"></mat-datepicker-toggle>
            <mat-datepicker #bisBildung></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Abschluss</mat-label>
            <input matInput formControlName="abschluss">
          </mat-form-field>

          <div class="delete" *ngIf="edit">
            <button type="button" mat-mini-fab class="mat-elevation-z0" color="warn" (click)="deleteBildungKnopf(i)"
                    *ngIf="edit">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

        </ng-container>
      </div>

      <button mat-mini-fab type="button" color="primary" class="mat-elevation-z0 add" (click)="addBildungKnopf()" *ngIf="edit">
        <mat-icon>add</mat-icon>
      </button>

    </ng-container>
  </div>

  <br>
  <div class="beruf">
    <p>Berufserfahrung:</p>

    <ng-container formArrayName="beruf">
      <div *ngFor="let b of profilBerufArray.controls; index as i">
        <ng-container [formGroupName]="i">

          <mat-form-field appearance="outline">
            <mat-label>Unternehmen</mat-label>
            <input matInput formControlName="firma">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Stellenbezeichnung</mat-label>
            <input matInput formControlName="bezeichnung">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Von</mat-label>
            <input matInput [matDatepicker]="vonBeruf" formControlName="von">
            <mat-datepicker-toggle matSuffix [for]="vonBeruf"></mat-datepicker-toggle>
            <mat-datepicker #vonBeruf></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Bis</mat-label>
            <input matInput [matDatepicker]="bisBeruf" formControlName="bis">
            <mat-datepicker-toggle matSuffix [for]="bisBeruf"></mat-datepicker-toggle>
            <mat-datepicker #bisBeruf></mat-datepicker>
          </mat-form-field>

          <div class="delete" *ngIf="edit">
            <button type="button" mat-mini-fab class="mat-elevation-z0" color="warn" (click)="deleteBerufKnopf(i)"
                    *ngIf="edit">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

        </ng-container>
      </div>

      <button mat-mini-fab type="button" color="primary" class="mat-elevation-z0 add" (click)="addBerufKnopf()" *ngIf="edit">
        <mat-icon>add</mat-icon>
      </button>

    </ng-container>
  </div>

  <br>
  <div class="kentnisse">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Besondere Kenntnisse</mat-label>
        <textarea matInput formControlName="kenntnisse"></textarea>
      </mat-form-field>
    </p>
  </div>

  <div class="custom-box">
    <ng-container formArrayName="customBox">
      <p>Eigene Boxen:</p>
      <div *ngFor="let cb of profilCustomBox.controls; index as i">
        <ng-container [formGroupName]="i">

          <mat-form-field appearance="outline">
            <mat-label>Titel</mat-label>
            <input matInput formControlName="titel" #cbTitel>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ cbTitel.value }}</mat-label>
            <textarea matInput formControlName="content"></textarea>
          </mat-form-field>

          <div class="delete" *ngIf="edit">
            <button type="button" mat-mini-fab class="mat-elevation-z0" color="warn" (click)="deleteCustomBoxKnopf(i)"
                    *ngIf="edit">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-container>
      </div>

      <button mat-mini-fab type="button" color="primary" class="mat-elevation-z0 add" (click)="addCustomBoxKnopf()" *ngIf="edit">
        <mat-icon>add</mat-icon>
      </button>
    </ng-container>
  </div>

  <br>
  <div *ngIf="edit">
    <button type="submit" mat-flat-button color="primary" style="margin-right: 1rem">Speichern</button>
    <button type="button" mat-flat-button color="accent" (click)="reset()">Abbrechen</button>
  </div>
</form>
