<form [formGroup]="registrationForm" (submit)="onSubmit()">

  <mat-checkbox (change)="setFirmaCheck()" color="primary" #firma>Firma/Unternehmen/Projekt</mat-checkbox>

  <mat-form-field appearance="outline" *ngIf="firma.checked">
    <mat-label>Unternehmen</mat-label>
    <input  matInput formControlName="unternehmenName" required>
    <mat-error *ngIf="isControlRequired('unternehmenName')">Sie müssen der Name Ihre Unternehmen eingeben</mat-error>
  </mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label [textContent]="!firma.checked ? 'Vorname' : 'Ansprechpartner Vorname'"></mat-label>
    <input  matInput formControlName="vorname"  required >
    <mat-error *ngIf="isControlRequired('vorname')">Sie müssen Ihre Vorname eingeben</mat-error>
  </mat-form-field>



  <mat-form-field appearance="outline">
    <mat-label [textContent]="!firma.checked ? 'Nachname' : 'Ansprechpartner Nachname'"></mat-label>
    <input matInput formControlName="nachname" required>
    <mat-error *ngIf="isControlRequired('nachname')">Sie müssen Ihre Nachname eingeben</mat-error>
  </mat-form-field>



  <mat-form-field appearance="outline" *ngIf="!firma.checked">
    <mat-label>Geburtsdatum</mat-label>
    <input  matInput [matDatepicker]="picker" formControlName="geburtsdatum" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="isControlRequired('geburtsdatum')">Sie müssen Ihre Geburtsdatum eingeben</mat-error>
  </mat-form-field>



  <mat-form-field appearance="outline">
    <mat-label>E-mail</mat-label>
    <input autocomplete="email" matInput placeholder="musterman@mail.com" formControlName="email" required>
    <mat-error *ngIf="isControlRequired('email')">Sie müssen Ihre E-Mail-Adresse eingeben</mat-error>
    <mat-error *ngIf="isControlEmailPattern('email')">Keine gültige E-Mail</mat-error>
  </mat-form-field>



  <mat-form-field appearance="outline">
    <mat-label>Passwort</mat-label>
    <input  autocomplete="new-password" matInput [type]="hide ? 'password' : 'text'" minlength="8" formControlName="passFirst" #passFirst required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="isControlRequired('passFirst')">Sie müssen Ihre Passwort eingeben</mat-error>
    <mat-error *ngIf="isControlPasswordLength('passFirst')">Passwort muss länger als 8 Zeichen sein</mat-error>
  </mat-form-field>



  <mat-form-field appearance="outline" *ngIf="hide">
    <mat-label>Passwort wiederholen</mat-label>
    <input autocomplete="new-password" matInput type="password" minlength="8" formControlName="passWdh" #passWdh pattern="{{passFirst.value}}" required>
    <mat-error *ngIf="isControlRequired('passWdh')">Sie müssen Ihre Passwort wiederholen</mat-error>
    <mat-error *ngIf="!isControlRequired('passWdh') && (passFirst.value != passWdh.value)">Sie müssen Ihre Passwort wiederholen</mat-error>
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit">Registrieren</button>
</form>
