/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~@angular/material/theming";

@include mat-core();

$primary: mat-palette($mat-deep-purple);
$accent: mat-palette($mat-amber);
$theme: mat-light-theme((
  color: (
    primary: $primary,
    accent: $accent
  )
));
