@import "src/styles";


.title {
  margin: 1rem;

  .text {
    display: inline-flex;
    margin-right: 1rem;
  }

  .edit {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    vertical-align: sub;

    mat-icon {
      font-size: 16px;
      margin-top: -8px;
    }
  }
}

.formular {
  margin-left: 2rem;
  margin-bottom: 1rem;

  input, mat-label, textarea {
    color: $dark-primary-text;
  }

  mat-form-field {
    min-width: 200px;
    width: 40%;
    vertical-align: sub;
  }

  .top {
    display: flex;
    //height: 200px;

    .links {
      order: 1;
      width: 100%;
      bottom: 0;

      .homepage {

        button {
          font-size: 16px;
          border: 1px solid #ebebeb;
          padding: 0.5rem 1rem;
          min-width: 200px;
          width: 40%;
          background-color: #fafafa;
        }
      }
    }

    .rechts {
      margin-right: 6rem;
      margin-left: 0;
      order: 2;

      img {
        top: 0;
        border: 1px solid black;

        width: 200px;
        height: 200px;
      }

      .upload {
        top: -60%
      }
    }
  }

  .adresse {
  }

  .kontakt {

    ::ng-deep .mat-select-value {
      color: $dark-primary-text;
    }

  }

  .custom-box {

    mat-form-field {
      width: 80%;
    }

    textarea {
      height: 8rem;
    }
  }

  .delete {
    display: inline-flex;
    vertical-align: middle;
    margin-left: 1rem;
  }
}

