<div class="title">
  <div class="text"><h2>Vorstellungsprofil</h2></div>
  <button type="button" mat-mini-fab color="primary" (click)="toggleEdit()" class="mat-elevation-z0 edit">
    <mat-icon>edit</mat-icon>
  </button>
</div>
<form [formGroup]="profilForm" *ngIf="profilForm" (submit)="speichern()" (reset)="reset()" class="formular">

  <div class="top">
    <div class="links">
      <p>Angaben:</p>
      <div class="name">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
      </div>

      <p>Homepage:</p>
      <div class="homepage">
        <div *ngIf="edit">
          <mat-form-field appearance="outline">
            <mat-label>Homepage</mat-label>
            <input matInput formControlName="link">
          </mat-form-field>
        </div>
        <div *ngIf="!edit">
            <button mat-flat-button (click)="goToLink()">{{ this.link }}</button>
        </div>
      </div>

    </div>
    <div class="rechts">
      <img [src]="bild">
      <input type="file" *ngIf="edit" class="upload" (change)="uploadImage($event)" accept="image/jpeg, image/png">
    </div>
  </div>

  <br>
  <div class="adresse" formGroupName="adresse">
    <p>Adresse:</p>

    <mat-form-field appearance="outline">
      <mat-label>Straße</mat-label>
      <input matInput formControlName="strasse">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nr.</mat-label>
      <input matInput formControlName="hausnr">
    </mat-form-field>

    <br>
    <mat-form-field appearance="outline">
      <mat-label>PLZ</mat-label>
      <input matInput formControlName="plz">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ort</mat-label>
      <input matInput formControlName="ort">
    </mat-form-field>

    <br>
    <mat-form-field appearance="outline">
      <mat-label>Land</mat-label>
      <input matInput formControlName="land">
    </mat-form-field>
  </div>

  <br>
  <div class="kontakt">
    <p>Kontaktangaben:</p>
    <ng-container formArrayName="kontakt">
      <div *ngFor="let k of profilKontaktArray.controls; index as i">
        <ng-container [formGroupName]="i">

          <mat-form-field appearance="outline" class="kontakt-angeben">
            <mat-label>Kontaktmöglichkeit</mat-label>
            <mat-select formControlName="kontakt">
              <mat-option *ngFor="let kon of kontaktList" [value]="kon">{{ kon }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="kontakt-angeben">
            <input matInput formControlName="angabe">
          </mat-form-field>

          <div class="delete" *ngIf="edit">
            <button type="button" mat-mini-fab class="mat-elevation-z0" color="warn" (click)="deleteKontaktKnopf(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

        </ng-container>
      </div>

      <button type="button" mat-mini-fab class="mat-elevation-z0" color="primary" (click)="addKontaktKnopf()" *ngIf="edit">
        <mat-icon>add</mat-icon>
      </button>
    </ng-container>
  </div>

  <div class="custom-box">
    <ng-container formArrayName="customBox">
      <p>Eigene Boxen:</p>
      <div *ngFor="let cb of profilCustomBox.controls; index as i">
        <ng-container [formGroupName]="i">

          <mat-form-field appearance="outline">
            <mat-label>Titel</mat-label>
            <input matInput formControlName="titel" #cbTitel>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ cbTitel.value }}</mat-label>
            <textarea matInput formControlName="content"></textarea>
          </mat-form-field>

          <div class="delete" *ngIf="edit">
            <button type="button" mat-mini-fab class="mat-elevation-z0" color="warn" (click)="deleteCustomBoxKnopf(i)"
                    *ngIf="edit">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-container>
      </div>

      <button mat-mini-fab type="button" color="primary" class="mat-elevation-z0 add" (click)="addCustomBoxKnopf()" *ngIf="edit">
        <mat-icon>add</mat-icon>
      </button>
    </ng-container>
  </div>

  <br>
  <div *ngIf="edit">
    <button type="submit" mat-flat-button color="primary" style="margin-right: 1rem">Speichern</button>
    <button type="button" mat-flat-button color="accent" (click)="reset()">Abbrechen</button>
  </div>
</form>
