<app-header></app-header>
<app-profil-index *ngIf="selected(cnt.PROFIL)"></app-profil-index>
<app-login-registration-frame *ngIf="selected(cnt.LOGIN)"></app-login-registration-frame>
<app-anzeigen-suchen *ngIf="selected(cnt.ANZEIGEN)"></app-anzeigen-suchen>
<app-homepage *ngIf="selected(cnt.HOME)"></app-homepage>
<app-anzeige-bewerben *ngIf="selected(cnt.BEWERBEN)"></app-anzeige-bewerben>
<app-karte *ngIf="selected(cnt.KARTE)"></app-karte>
